{% extends 'base.html.twig' %}

{% block title %}New Screening{% endblock %}

{% block body %}
    <h1>Create new Screening</h1>

    {{ include('screening/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('app_screening_index') }}">back to list</a>
{% endblock %}
